{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

        <div class="row row-custom">

            <div class="col col-custom">
                
                <div class="image">

                    <img src="
                    {% if astreinte.utilisateur.photo is null %}
                        {{  asset('images/empty.png') }}
                    {% else %}
                        {{ astreinte.utilisateur.getPhoto() }}

                    {% endif %}" />

                
                </div>
                
                <p id="nom">{{ astreinte.utilisateur.toString() }}</p>
                <p id="numero">{{ astreinte.utilisateur.SpaceNum() }}</p>
                

                <p><i class="fas fa-phone"></i></p>

                <p><i class="far fa-comment-dots"></i></p>
            
            </div>
            

        </div>



{% endblock %}
