{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}


<div class="table-responsive">

    <table class="table table-custom">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Adresse mail</th>
        <th scope="col">Numéro de téléphone</th>
        <th scope="col"><i class="fas fa-pen icone"></i></th>
        <th scope="col"><i class="fas fa-trash icone"></i></th>
        
        </tr>
    </thead>
    <tbody>
        
        {% for user in utilisateurs %}
            <tr>
                <th scope="row">{{ user.getPrenom() }}</th>
                <td>{{ user.getNom() }}</td>
                <td>{{ user.getEmail() }}</td>
                <td>{{ user.Numero() }}</td>
                <td><i class="fas fa-pen icone"></td>
                <td><i class="fas fa-trash icone"></td>.
            </tr>
        {% endfor %}
        
    </tbody>
    </table>

</div>

{% endblock %}
