{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}


<div class="table-responsive">

    <table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Adresse mail</th>
        <th scope="col">Numéro de téléphone</th>
        <th scope="col"><i class="fas fa-pen icone"></i></th>
        <th scope="col"><i class="fas fa-trash icone"></i></th>
        
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        </tr>
        <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        </tr>
        <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        </tr>
    </tbody>
    </table>

</div>

{% endblock %}
