.row-custom > *{
    margin:auto;
    text-align:center;
}

.image{

    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    overflow: hidden;

}

img{
    width: 100%;
}

p{
    color: white;
    text-transform: uppercase;
    font-variant: small-caps;
    text-shadow: black 2px 2px 2px;
}

#nom {
    font-size: 60px;
}

#numero {
    font-size: 30px;
    margin-top: -40px
}

i {
    font-size: 85px;
    margin-top: 20px
}

.image {
    margin: auto;
}