.row-custom > *{
    margin:auto;
    text-align:center;
}

.image{

    height: 200px;
    width: 200px;

    background-color: white;

}

p{
    color: white;
    text-transform: uppercase;
    font-variant: small-caps;
    text-shadow: black 2px 2px 2px;
}

#nom {
    font-size: 60px;
}

#numero {
    font-size: 30px;
    margin-top: -40px
}

i {
    font-size: 85px;
    margin-top: 20px
}

.image {
    margin: auto;
}